<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.HEAD_TRACKING" />
    <uses-permission android:name="android.permission.HAND_TRACKING" />

    <application>
        <provider
            android:name=".Cognitive3DInitializer"
            android:authorities="${applicationId}.cognitive3dinit"
            android:exported="false"
            android:initOrder="100" />
    </application>

</manifest>
